site_name: My Docs
site_url: https://juniorxyz.github.io/myCMS
theme:
  name: material
  custom_dir: overrides
  palette:
    primary: black
  features:
    - content.code.copy
    - content.code.annotate

repo_url: https://github.com/junior-stack/myCMS

repo_name: junior-stack/myCMS

# Add the hook file
hooks:
  - hooks.py

markdown_extensions:
  - admonition
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  # - pymdownx.highlight:
  #     linenums: true
  - codehilite
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

extra_javascript:
  - javascript/mathjax.js
  - javascript/collapseCodeblock.js
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js

extra_css:
  - css/collapseCodeblock.css

plugins:
  - search
  - blog:
      blog_dir: .
  - tags
